html,
body {
    margin: 0;
    height: 100%;
}

h1 {
    color: red;
}

#container {
    width: 100%;
    height: 620px;
    overflow: visible;
    z-index: -1;
    /* order of colors matters, color put first will be shown least frequently, last color is the base */
    --gradient-color-1: #F9C660;
    --gradient-color-2: #91DEFE;
    --gradient-color-3: #A863EE;
    --gradient-color-4: #FA2A47;
}